<html ng-app="my-app">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>		
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
		<style type="text/css">
			td {
				vertical-align: top !important;				
			}			
			.jsonViewActual{
				padding: 10px !important;
				color: #fff;
  			background-color: #000;
  			border-radius: 5px;
			}
			.jsonView {
				list-style: none;
				padding: 0;
				margin: 0;								
			}
			.jsonView > li {
				white-space: normal;
				list-style: square;
				margin-left: 30px;
				padding: 0px;
				line-height: 1.3em;
			}
			pre {
			  color: #FDC868;
  			background-color: #000;
  			border-radius: 5px;
				padding: 5px;
			}	
			json-viewer b {
				color: #6FBBA2;
			}
			json-viewer span {
				color: #FDC868;
			}
			#show-dialog {
				position: fixed;
				top: 20px;
				right: 20px;
				z-index: 999999;
			}
			.mdl-dialog {
				width: 50% !important;
				position: fixed;
			}
			.mdl-dialog > div > ul > li{
				list-style: upper-roman; !important;
			}
			.mdl-dialog > div > ul > li li{
				list-style: decimal !important;
			}
			.mdl-dialog__content{
				overflow-x: hidden;
				overflow-y: auto;
		    max-height: 500px;
		  }
		  .method-get {
				background-color: #660A9A !important;
			}
			.method-put {
				background-color: #008F94 !important;
			}
			.method-delete {
				background-color: #000000 !important;
			}
			.method-head {
				background-color: #B31A1A !important;
			}
			.method-post {
				background-color: #002294 !important;	
			}
			.method {
				background-color: #949412;
				padding: 3px; 
				color: white; 
				border-radius: 5px;
			}
			.passed .scols {
				color: green;
			}
			.failed .scols {
				color: red;
			}
			.copy:active {
				font-weight: bold;
			}
			.copy {
		    float: right;
		    z-index: 100;
		    position: relative;
		    border-radius: 4px;
		    border: solid 1px black;
		    padding: 4px 10px;
		    cursor: pointer;
			}
			pre {
		    white-space: pre-wrap;       /* CSS 3 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}
			.not-used a, .not-used b{
				text-decoration: line-through;
			}
		</style>
	</head>

	<body ng-controller="TestResultController">
	<main>
    <div class="page-content">
	    <!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
				<div class="mdl-layout__drawer">
			    <span class="mdl-layout-title">Bookmark</span>
			    <nav class="mdl-navigation">
			      <div ng-repeat="testcase in data.testcases" style="padding: 10px;">
					  	{{testcase.title}}
							<ul>
							  <li ng-repeat="api in testcase.api" ng-if="api['@body'] || api['@actual']"><a href="#api{{api.id}}">{{api.des}}</a></li>
							</ul>  
						</div>
			    </nav>
			  </div>
			  <main class="mdl-layout__content">
			    <div class="page-content">
			    	<header class="mdl-layout__header">
					    <div class="mdl-layout__header-row">
					      <span class="mdl-layout-title">
									<h2><small>Specific document for </small> {{data.project}} <small>APIs</small></h2>
					      </span>	      
					      <div class="mdl-layout-spacer"></div>	      	      
					    </div>
					  </header>
			    	<div ng-repeat="testcase in data.testcases">
							<h4 id="tc{{testcase.id}}" style="padding: 5px 20px;"><b>#</b> {{testcase.title}}</h4>
							<div>
								<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%" ng-repeat="api in testcase.api" id="api{{api.id}}" ng-if="api['@body'] || api['@actual']">
									<thead>
										<tr>
											<th class="mdl-data-table__cell--non-numeric">
												<h6><b ng-bind="$index+1"></b> {{api.des}}</h6>
												<h6 class="{{api.resultTest ? (api.resultTest.pass ? 'passed' : 'failed') : ''}}">
													<b class="method method-{{api.method.toLowerCase()}}">{{api.method.toUpperCase()}}</b>
													<span id="{{api.id}}" ng-bind="api._url ? api._url : api.url" class="scols" title="{{api.resultTest.des}}" ng-click="selectText(api.id)" style="cursor: pointer;"></span>
													<small>Click me to copy</small>
													<div class="mdl-tooltip {{!isCopied ? 'hidden' : ''}}" for="{{api.id}}">
													 Copied
													</div>
			</h6></a>
											</th>
										</tr>
									</thead>
									<tbody style="background-color: #f6f6f6;">						
										<tr>
											<td class="mdl-data-table__cell--non-numeric">							
												<div class="mdl-grid">
												  <div class="mdl-cell mdl-cell--6-col">									  
														<h6>Request data</h6>								
														<button class="copy" id="btnRequestData{{api.id}}" ng-click="selectText('requestData' + api.id)">Copy</button> 		<div class="mdl-tooltip {{!isCopied ? 'hidden' : ''}}" for="btnRequestData{{api.id}}">
														 Copied
														</div>
														<pre class="mbox" id="requestData{{api.id}}">{{api['_body'] | json}}</pre>											
												  </div>
												  <div class="mdl-cell mdl-cell--6-col">
														<h6>Request description</h6>
														<div class="jsonViewActual">
															<json-viewer data="api['@body']" class="mbox"></json-viewer>  	
														</div>
												  </div>
												</div>
												<div class="mdl-grid">
												  <div class="mdl-cell mdl-cell--6-col">
														<h6>Response data</h6>
														<pre class="mbox">{{api['#actual'] | json}}</pre>							
												  </div>
												  <div class="mdl-cell mdl-cell--6-col">
														<h6>Response description</h6>
														<div class="jsonViewActual">
															<json-viewer data="api['@actual']" class="mbox"></json-viewer>
														</div>
												  </div>
												</div>
											</td>						
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<br/><br/><br/>							
					  <footer class="mdl-mega-footer">
					    <div class="mdl-mega-footer--bottom-section">
					      <div class="mdl-logo">
					        {{data.team}}
					      </div>
					    </div>
					  </footer>
			    </div>
			  </main>
			</div>			
    </div>
  </main>
	</body>
	<script type="text/javascript">
		angular.module('my-app', [])
		  .controller('TestResultController', function($scope, $http) {
		    $scope.data = $data;
		    var copy = function(){
		    	try {
				    return document.execCommand('copy');
				  } catch (err) {
				  }
				  return false;
		    };
		    $scope.selectText = function(target){	
		    	target = typeof(target) == 'string' ? document.getElementById(target) : target;	    	
		    	if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(target);
            range.select();
            if(copy()){
            	document.selection.empty();
            	$scope.isCopied = true;
            	setTimeout(function(){
            		$scope.$apply(function(){
            			delete $scope.isCopied;
            		});
            	}, 500);
            }
	        } else if (window.getSelection) {
	            var range = document.createRange();
	            range.selectNode(target);
	            window.getSelection().addRange(range);
	            if(copy()){
	            	window.getSelection().removeAllRanges();
	            	$scope.isCopied = true;
	            	setTimeout(function(){
	            		$scope.$apply(function(){
	            			delete $scope.isCopied;
	            		});
	            	}, 500);
	            }
	        }
		    }
		  })
		  .directive('jsonViewer', function() {
			  return {
			    restrict: 'E',
			    transclude: true,
			    scope: {
			    	data: '='
			    },
			    controller: ['$scope', function($scope) {			    	
			    	$scope.isFieldKey = function(k){
			    		if(typeof(k) == 'number')
			    			return true;
			    		return k.indexOf('@') == -1;
			    	}
			    	$scope.getData = function(value){
			    		var rs = undefined;
			    		if(value['@data']){
			    			rs = value['@data'];
			    			if(value['@data']['@data']){
				    			rs = value['@data']['@data'];
					    		if(value['@data']['@data']['@data']){
					    			rs = value['@data']['@data']['@data'];
					    		}
					    	}
			    		}			    		
			    		return rs;
			    	}
			    	$scope.isHasField = function(data){
			    		for(var a in data){
			    			if($scope.isFieldKey(a)){
			    				return true;
			    			}
			    		}
			    		return false;
			    	}
			    	$scope.isType = function(obj, type){
			    		if(!obj) return false;
			    		if(obj instanceof Array){
			    			if(type == 'array')
			    				return true;
			    		 	else if(type == 'objectarray')
			    		 		return true;
			    			return false;
			    		}else if(obj instanceof Object){
			    			if(type == 'object')
			    				return true;
			    			else if(type == 'objectarray')
			    		 		return true;
			    			return false;
			    		}
			    		return typeof(obj) == type;
			    	}
			    	$scope.typeof = function(obj){
			    		return typeof(obj);
			    	}
			    }],
			    template: 
			    	'<ul ng-if="data && isHasField(data)" class="jsonView">\
			    		<li ng-repeat="(key, value) in data" ng-if="isFieldKey(key)" style="{{isType(key, \'number\') ? \'list-style: none;\' : \'\'}}">\
								<div class="{{value[\'@doc\'] == \'<<< Not used >>>\' ? \'not-used\' : \'\'}}"><a>{{key}}</a> <b>({{value["@type"]}})</b> <span>{{value["@doc"]}}</span></div>\
								<json-viewer data="getData(value)" class="object"></json-viewer>\
							</li>\
			    	</ul>\
			    	'
			  };
			});
	</script>
</html>